[package]
name = "wasmi-benchmarks"
version = "0.1.0"
edition = "2021"
resolver = "2"
default-run = "coremark"

[workspace]
members = [
    "benches/res/rust/*"
]

[[bin]]
name = "coremark"
path = "src/coremark.rs"

[[bin]]
name = "plot"
path = "src/plot.rs"

[dependencies]
wasmi_old = { package = "wasmi", version = "0.31.2" }
wasmi_new = { package = "wasmi", version = "0.33.1", features = ["no-hash-maps"] }
tinywasm = "0.7.0"
wasmer = { version = "4.3", default-features = false, features = ["engine", "compiler"] }
wasmer-compiler-singlepass = "4.3"
wasmer-compiler-cranelift = "4.3"
wasmtime = { version = "22.0.0", default-features = false, features = ["winch", "cranelift", "runtime"] }
makepad-stitch = "0.1.0"
criterion = "0.5"
wat = "1"
serde_json = "1.0.117"
plotters = "0.3.6"

[dependencies.wasm3]
git = "https://github.com/robbepop/wasm3-rs.git"
branch = "rf-fix-wasm3-rs"
features = ["build-bindgen"]

[[bench]]
name = "criterion"
harness = false

[profile.bench]
# debug = true
lto = "fat"
codegen-units = 1

[profile.dev]
opt-level = 1 # required for the stitch Wasm runtime's LLVM's sibling calls optimization

[profile.wasm]
# The profile used to build Rust based benchmark inputs to WebAssembly.
inherits = "release"
opt-level = 3
lto = "fat"
codegen-units = 1
panic = "abort"

[profile.ci]
# The profile with which we compile the criterion
# benchmark runner and subsequently all Wasm runtimes
# when running them in the GitHub Actions CI.
inherits = "release"
opt-level = 3
lto = "thin"
codegen-units = 2
