name: Rust - Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# Disable running jobs on earlier commits.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
    check:
        name: Build
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
          - uses: dtolnay/rust-toolchain@stable
          - name: Set up Cargo cache
            uses: actions/cache@v4
            continue-on-error: false
            with:
              path: |
                ~/.cargo/bin/
                ~/.cargo/registry/index/
                ~/.cargo/registry/cache/
                ~/.cargo/git/db/
                ~/target/
              key: ${{ runner.os }}-${{ github.job }}-${{ hashFiles('**/Cargo.lock') }}
              restore-keys: ${{ runner.os }}-${{ github.job }}-
          - name: Build (default features)
            run: cargo build --workspace

    fmt:
        name: Formatting
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
            - uses: dtolnay/rust-toolchain@nightly
              with:
                components: rustfmt
            - name: Formatting
              run: cargo fmt --all -- --check

    doc:
        name: Documentation
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
            - uses: dtolnay/rust-toolchain@stable
              with:
                components: rust-docs, rust-src
            - name: Set up Cargo cache
              uses: actions/cache@v4
              continue-on-error: false
              with:
                path: |
                  ~/.cargo/bin/
                  ~/.cargo/registry/index/
                  ~/.cargo/registry/cache/
                  ~/.cargo/git/db/
                  ~/target/
                  key: ${{ runner.os }}-${{ github.job }}-${{ hashFiles('**/Cargo.lock') }}
                  restore-keys: ${{ runner.os }}-${{ github.job }}-
            - name: Check Docs
              env:
                RUSTDOCFLAGS: "-D warnings"
              run: cargo doc --workspace --all-features --no-deps --document-private-items

    clippy:
        name: Clippy
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b
            - uses: dtolnay/rust-toolchain@nightly
              with:
                components: clippy
            - name: Set up Cargo cache
              uses: actions/cache@v4
              continue-on-error: false
              with:
                path: |
                  ~/.cargo/bin/
                  ~/.cargo/registry/index/
                  ~/.cargo/registry/cache/
                  ~/.cargo/git/db/
                  ~/target/
                  key: ${{ runner.os }}-${{ github.job }}-${{ hashFiles('**/Cargo.lock') }}
                  restore-keys: ${{ runner.os }}-${{ github.job }}-
            - name: Checkout Submodules
              run: git submodule update --init --recursive
            - name: Clippy (all features)
              run: cargo clippy --workspace --all-features -- -D warnings
    